### นาย ณภัทรนันท์ ศิลปะ 6421600069

In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [15]:
df = pd.read_csv('machine-spec.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   machine_age_months     20 non-null     int64
 1   operate_hours_per_day  20 non-null     int64
 2   machine_meets_spec     20 non-null     int64
dtypes: int64(3)
memory usage: 612.0 bytes

In [17]:
df.head()

   machine_age_months  operate_hours_per_day  machine_meets_spec
0                  57                      4                   1
1                  73                      5                   0
2                  22                      5                   1
3                  59                      4                   0
4                  15                      4                   1

In [22]:
att = df[['machine_age_months' ,'operate_hours_per_day']]
label = df['machine_meets_spec']

att_train , att_test , class_train , class_test = train_test_split(att, label,
                                                                   random_state=0,train_size=0.7)

scaler = StandardScaler()
scaler.fit(att_train)

att_train[['machine_age_months' ,'operate_hours_per_day']] = scaler.transform(att_train)

model = KNeighborsClassifier(n_neighbors=3)
model.fit(att_train, class_train)


model.score(scaler.transform(att_test),class_test)
# model.score(att_train,class_train)

c:\Users\HP\Desktop\Main learn work\p3-2-2566\Data Science\.venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

0.6666666666666666

In [23]:
result = pd.concat([att_test,class_test],axis=1)
result['predict'] = model.predict(scaler.transform(att_test))
result

c:\Users\HP\Desktop\Main learn work\p3-2-2566\Data Science\.venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

    machine_age_months  operate_hours_per_day  machine_meets_spec  predict
18                  35                      4                   0        1
1                   73                      5                   0        0
19                  44                      5                   1        1
8                   27                      7                   0        1
10                  10                      6                   1        1
17                  71                      7                   0        0