# This is Lesson 1 : Python 101

### 01 | basic

In [14]:
print(" Hello World")
print('',1235485456666+6666)
print('',3>=5)
print('',5>=3)
print(" 3+5 is",3+5)

 Hello World
 1235485463332
 False
 True
 3+5 is 8

### 02 | input

In [23]:
age = input()
age

str

In [24]:
type(age)

str

### 03 | Type Cast

In [25]:
int(2.5)

2

In [26]:
float(853)

853.0

In [27]:
str(475)

'475'

In [28]:
age = input('input your age')

In [32]:
print("in 5 year,you will age ",int(age)+5,'year old')

in 5 year,you will age  25 year old

### 04 | Set variable

In [33]:
x,y  = 10,20

In [34]:
x

10

In [35]:
y

20

In [36]:
x,y  = 10,20
x,y  = y+1,x+1

In [37]:
x

21

In [38]:
y

11

### 05 | + - * / // %

In [39]:
5//2

2

In [40]:
5/2

2.5

In [41]:
--5--1--2-4

4

In [42]:
9%5

4

### 06 | if-else

In [45]:
a = 2
if(a<10):
    print('a is noy kao 10')
else:
    print('a is mak kao 10')

a is noy kao 10

#### elseif

In [ ]:
if x==20:
    print('x = 20')

### 07 | for loop

In [ ]:
for i in range(1,13,1):
    print(n,'x')

In [ ]:
def printName(first,last,isinstials):
    if isinstials:
        print(first[0]+'')

In [46]:
name = 'intro to python'

In [51]:
name[0:11:2]

'itot y'

In [1]:
name = 'intro to python'

In [5]:
name[6:8]

'to'

In [16]:
t1 = 'intro','KU',101

In [17]:
t2 = 'Export',100,t1

In [20]:
t2[2][1][0]

'K'

In [21]:
list = ['intro','KU',81]

In [22]:
list

['intro', 'KU', 81]

In [23]:
list[2]

81

In [24]:
L1 = [10,30,50]

In [25]:
L1.append(60)

In [26]:
L1

[10, 30, 50, 60]

In [27]:
x =[8,9]

In [28]:
L1.append(x)

In [29]:
L1

[10, 30, 50, 60, [8, 9]]

In [31]:
L1.pop()

[8, 9]

In [32]:
L1

[10, 30, 50, 60]

In [33]:
L1.extend(x)

In [34]:
L1

[10, 30, 50, 60, 8, 9]

In [35]:
L1.insert(2,40)

In [36]:
L1

[10, 30, 40, 50, 60, 8, 9]

In [37]:
L1.pop(1)

30

In [38]:
L1

[10, 40, 50, 60, 8, 9]

In [39]:
10 in L1

True

In [40]:
for e in L1:
    print(e)

10
40
50
60
8
9

In [44]:
s1 = set('kasetsart')
s2 = set('university')

In [45]:
s1

{'a', 'e', 'k', 'r', 's', 't'}

In [46]:
s2

{'e', 'i', 'n', 'r', 's', 't', 'u', 'v', 'y'}

In [47]:
s1 & s2

{'e', 'r', 's', 't'}

In [48]:
s1 | s2

{'a', 'e', 'i', 'k', 'n', 'r', 's', 't', 'u', 'v', 'y'}

In [52]:
d1 = { 'a' : 100 , 'b' : [200,300,'Hello'], 90: 'end'}

In [53]:
d1

{'a': 100, 'b': [200, 300, 'Hello'], 90: 'end'}

In [54]:
d1['a']

100

In [55]:
d1=['c']

In [56]:
d1 = dict([('a' , 100 ), ('b' , [200,300,'Hello']), (90, 'end')])

In [57]:
d1['b'][2]

'Hello'

In [59]:
players = open('tennis_players','w')
players.write("John\n");
players.write("Jame\n");

In [60]:
players.close()

In [61]:
n = open('tennis_players','r')

In [62]:
st = n.read()

In [63]:
print(st)

John
Jame

In [64]:
n.close